
@{
    ViewBag.Title = "Logon";
}

<h1>Logg på</h1>

<form method="POST">
	Brukernavn: <input type="text" name="username" />
	<br />
	Passord: <input type="password" name="password" />
	<br />
	<button>Logg på</button>
</form>
