@model IEnumerable<Movie>


<h1>Filmer</h1>
<h2>@ViewBag.Tittel</h2>

<ul>
	@foreach (var movie in Model.OrderBy(m => m.Title))
	{
		<li>
			@Html.ActionLink(movie.Title, "Details", "Movie", new { id = movie.MovieId }, null)
		</li>
	}
</ul>
