@model IEnumerable<MovieDAL.Movie>
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	<h1>Liste over filmer</h1>
	<ul>
		@foreach (var movie in Model)
		{
			<li>
				@Html.ActionLink(movie.Title, "Details", "Movie", new { id = movie.MovieId}, null)
			</li>
		}
	</ul>
</body>
</html>
